/*
author: [David Anggawijaya]
Student ID: [103507067]
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --font-family-primary: "Open Sans", sans-serif;
    --font-family-secondary: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS styles for nav menu links */

nav{
    /* background-color: #00398E; */
    width: 100vw;
    position: fixed;
    background-color: white;
    display: flex;
    border-bottom: none; 
    box-shadow: 0 2px 0 rgba(211, 211, 211, 0.504);
    z-index: 100;
}

.list-menu{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 5%;
}

.list-menu li{
    margin-right: 50px;
}
.list-menu .menu{
    text-decoration: none;
    font: normal normal 500 1em/normal var(--font-family-primary);
    color: black;
    transition: all 0.1s;
}

.list-menu .menu:hover {
    color: #278E61;
    border-bottom: 2px solid #278E61;
}

.list-menu .menu#link-active{
    color: #278E61;
    border-bottom: 2px solid #278E61;
}
.logo{
    width: 10%;
    margin: 10px 0;
    margin-left: 50px;
}
.logo img{
    width: 100%;
}

/* Jobs page style Author: David Anggawijaya*/

#job-page-section{
    background-color: #efeeee;
    height: 100vh;
    padding-top: 64px;
}

#job-search-left{
    display: flex;
    width: 75%;
    float: left;
}

/*  */
#job-search-scrollable{
    padding: 50px;
    padding-bottom: 0px;
    font-family: var(--font-family-secondary);
    width: 45%;
    height: 100%;
}

#job-search-scrollable #job-search{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

#job-search-scrollable #search-bar{
    width: 85%;
    border: 2px solid transparent;
    border-radius: 10px 0 0 10px;
    font-family: var(--font-family-primary);
    font-size: 1rem;
    padding: 10px 20px;
    outline:none;
    transition: all 0.2s;
}

#job-search-scrollable #search-bar:focus{
    border: 2px solid #278E61;
    border-right: none;
}

#job-search-scrollable #search-btn{
    background: url("images/search-icon.svg") no-repeat;
    background-color: #278E61;
    background-size: 30px;
    cursor: pointer;
    background-position: center;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 13%;
    height: 100%;
}

#section-title{
    font: normal normal 700 1.3em/normal var(--font-family-primary);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#section-title #total-jobs{
    font: normal normal 600 0.7em/normal var(--font-family-primary);
    background-color:white;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 25px;
    border: 1px solid black;
}

#job-preview-container{
    height: 65vh;
    margin-top: 30px;
    overflow-y: auto;
}

.job-preview{
    border: 2px solid transparent;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.job-preview:hover{
    border: 2px solid #278E61;
}

.job-preview .job-preview-title{
    display: flex;
    margin-bottom: 10px;
}

.job-preview .job-preview-title img{
    width: 60px;
    height: fit-content;
}

.job-preview .job-preview-role{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.job-preview .job-preview-role h2{
    font: normal normal 500 1em/normal var(--font-family-primary);
    margin-bottom: 5px;
}

.job-preview .job-preview-role h3{
    font: normal normal 300 0.8em/normal var(--font-family-secondary);
    color: rgb(74, 74, 74);
}

.job-preview .job-preview-desc{
    font: normal normal 300 0.9em/normal var(--font-family-secondary);
    margin-bottom: 10px;
}

.job-preview .job-preview-skills{
    display: flex;
    margin-bottom: 15px;
}

.job-preview .job-preview-skills .job-skill{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d7f8e6;
    margin-right: 15px;
    font: normal normal 300 0.8em/normal var(--font-family-secondary);
}

.job-preview .job-preview-others{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-preview .job-preview-others .job-preview-location{
    display: flex;
    align-items: center;
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
}

.job-preview .job-preview-others .job-preview-location img{
    width: 30px;
    padding-right: 5px;
}
.job-preview .job-preview-others .job-preview-salary{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
}

.job-preview .job-preview-others .job-preview-type{
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
}
.job-preview .job-preview-others .job-preview-salary span{
    font-weight: 700;
}

.content{
    display: none;
}

.content:target{
    display: block;
}

/* Aside filteration style */

#job-search-right{
    width: 25%;
    float: right;
    height: 100%;
    background-color: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#job-search-right h1{
    font: normal normal 700 0.9em/normal var(--font-family-primary);
    color: rgb(150, 150, 150);
}

#job-search-right #reset-filter{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    float: right;
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
    color: rgb(226, 86, 86);
    margin-bottom: 10px;
    transition: all 0.2s;
}

#job-search-right #reset-filter:hover{
    background-color: rgb(226, 86, 86);
    color: white;
}

#job-search-right .filterby-title{
    clear: right;
    font: normal normal 500 1em/normal var(--font-family-secondary);
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

#job-search-right #filterby-company{
    padding: 5px 40%;
    padding-left: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

#salary-range-container{
    display: flex;
    width: 80%;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;

}

#salary-range-container label{
    font: normal normal 500 0.9em/normal var(--font-family-secondary);
    color: black;
    margin-bottom: 10px;
}

#salary-range-container div{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}


#salary-minimum, #salary-maximum{
    width: 80%;
    height: 30px;
    padding-left: 5px;
    border: 1px solid black;
    font-size: 0.9em;
    border-radius: 5px;
}

#job-search-right #filterby-location{
    padding: 5px 40%;
    padding-left: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

#employment-type-container{
    font: normal normal 400 0.9em/normal var(--font-family-primary);
}

#employment-type-container div{
    padding-bottom: 15px;
}

#employment-type-container div label{
    padding-left: 10px;
}

#job-search-right #filter-submit{
    padding: 10px 30px;

    border: 2px solid transparent;
    border-radius: 10px;
    font: normal normal 500 0.9em/normal var(--font-family-primary);
    background-color: #278E61;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#job-search-right #filter-submit:hover{
    border-color: #278E61;
    color: #278E61;
    background-color: transparent;
}

#job-search-details{
    width: 55%;
    background-color: white;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 20px;
    height: 82vh;
    overflow: scroll;
}

#job-search-details .job-detail{
    display: none;
    padding: 30px;
}

#job-search-details .job-detail:target{
    display: block;
}

#job-search-details .job-detail-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#job-search-details .job-detail-title img{
    width: 80px;
    margin-right: 15px;
}

#job-search-details .job-detail-title h1{
    font: normal normal 400 1.5em/normal var(--font-family-primary);
}

#job-search-details .job-detail-title h2{
    font: normal normal 400 1em/normal var(--font-family-secondary);
}

#job-search-details .job-detail-overview{
    margin-bottom: 15px;
}

#job-search-details .job-detail-overview h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-overview p{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
}

#job-search-details .job-detail-responsibility{
    margin-bottom: 15px;
}

#job-search-details .job-detail-responsibility h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-responsibility ol{
    padding-left: 15px;
}

#job-search-details .job-detail-responsibility li{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    padding-bottom: 5px;
}

#job-search-details .job-detail-skills{
    margin-bottom: 15px;
}

#job-search-details .job-detail-skills h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-skills ul{
    padding-left: 15px;
    padding-bottom: 10px;
}

#job-search-details .job-detail-skills li{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    padding-top: 5px;
}

#job-search-details .job-detail-other{
    margin-bottom: 30px;
}

#job-search-details .job-detail-other .others-container{
    display: flex;
    justify-content: space-between;
}

#job-search-details .job-detail-other h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-other h4{
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
    margin-bottom: 5px;
}

#job-search-details .job-detail-other p{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
}

#job-search-details .job-detail-action{
    display: flex;
    justify-content: space-evenly;
}

#job-search-details .job-detail-action a{
    text-decoration: none;
    color: black;
    padding: 10px 40px;
    border: 2px solid transparent;
    background-color: lightgray;
    border-radius: 5px;
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    transition: all 0.2s ease;
}

#job-search-details .job-detail-action a:hover{
    background-color: transparent;
    color: rgb(77, 77, 77);
    border-color: rgb(104, 104, 104);
}


#job-search-details .job-detail-action a:last-child{
    background-color: #278E61;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 5px;
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    transition: all 0.2s ease;
}

#job-search-details .job-detail-action a:last-child:hover{
    border-color: #278E61;
    color: #278E61;
    background-color: transparent;
}

.footer{
    width: 100vw;
    background-color: #dde8dd;
    text-align: center;
    font-size: small;
    padding: 25px;
}

.footer img{
    width: 100px;
    margin-bottom: 5px;
}


/*
author: [Pouya Behbahani]
*/

/* background images */
#index-section-container {
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    font-family: var(--font-family-primary);
    line-height: 1.6;
}

#index-section-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/white_background.jpg');
    background-size: cover;
    z-index: -1; /* Ensures the background stays behind other content */
}

/*  image with text content on the left */
#main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}  

#main-left-content{
    width: 35%;
}

#main-title{
    width: 100%;
    font-size: 1.1em;
    padding-bottom: 20px;
}

#main-image {
    position: relative;
    left: 10%;
    width: 55%;
}

#main-button-container{
    display: flex;
    text-align: center;
}

#main-desc{
    font-family: var(--font-family-secondary);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.582);
    margin-bottom: 45px;
    
}

#job-button{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #278E61;
    background-color: #1C864A;
    color: white;
    padding: 12px 30px;
    font-weight: 400;
    border-radius: 12px;
    transition: all 0.5s;
}

#job-button:hover{
    background-color: transparent;
    color: #278E61;

}

#info-section{
    background-color: #278e61d5;
    padding: 20px 0;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

#info-section h2{
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Custom bubble categories */
.info-bubble{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    margin: 15px;
    transition: all 0.5s ease;
}

.info-bubble img{
    width: 60px;
    margin-bottom: 15px;
}
.info-bubble h3{
    margin-bottom: 10px;
}

.info-bubble p{
    font-size: 0.9em;
}
.info-bubble:hover {
    cursor: pointer;
    transform: scale(1.05);
    cursor:default;
}

#info-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* pictures and text as you scroll down */

#features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}
#features-container h1{
    font-size: 1.7em;
    margin-bottom: 50px;
}

#features-container h1 span{
    color: #278E61;
}

.feature {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    margin-bottom: 8%;
    color: #000502c0;
}

.feature h2{
    margin-bottom: 20px;
}
.feature:nth-child(even) {
    flex-direction: row-reverse;     /* Makes it so image on left, text on right then flipped for next one */
}
.feature img {
    width: 45%;
    border-radius: 10px;
    margin: 0 60px;
    transition: all 0.8s ease;
}

.feature img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5); /* Adds shadow for depth */
}


.feature-text
{
    width: 45%;
    transition: transform 4s ease
}

/* TYPING ANIMATION*/
@keyframes typing-and-erasing-and-blank {
    0% { width: 0; }
    80% { width: 100%; } /* Full text is shown */
    96% { width: 100%; opacity: 1; } 
    97% { opacity: 0; } /* Text becomes blank instantly */
    100% { width: 0; opacity: 0; } /* ResetS for the next cycle */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    40% { border-color: black; }
}
.typing-animation {
    content: "";
    position: absolute;
    font-weight: 700;
    color: #1c864a;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid black; /* The cursor */
    animation: typing-and-erasing-and-blank 7s steps(70, end) infinite, blink-caret 0.75s step-end infinite;;
    max-width: fit-content;
}

 /* ENHANCMENTS */
#ImageMap {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#ImageMap h1{
    font-size: 1.6em;
    margin-bottom: 25px;
}
#ImageMap h1 span{
    color: #278E61;
}

#ImageMap iframe{
    width: 90%;
    height: 80%;
    border-radius: 25px;
}
