/*
author: [David Anggawijaya]
Student ID: [103507067]
Puprpose: Styling Job pages, Navigation bar, and Footer
*/

/*  font import from google Inter and open sans */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* creating root varible to be used later on */
:root{
    --font-family-primary: "Open Sans", sans-serif;
    --font-family-secondary: "Inter", sans-serif;
}

/* applied box model with 0 margin and padding for getting true size of element */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS styles for nav menu links */

nav{
    /* background-color: #00398E; */
    width: 100vw;
    max-width: 1600px;
    background-color: white;
    display: flex;
    box-shadow: 0 2px 0 rgba(211, 211, 211, 0.504);
    /* # z index to make sure the nav bar will not be covered */
    z-index: 100; 
}

nav #hamburger-btn, nav #hamburger-toggle{
    display: none;
}

.list-menu{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 5%;
}

.list-menu li{
    margin-right: 50px;
}
.list-menu .menu{
    text-decoration: none;
    font: normal normal 500 1em/normal var(--font-family-primary);
    color: black;
    transition: all 0.1s;
}
/* under hover a link will create a line under it */
/* the same style applied for currently active menu */
.list-menu .menu:hover, .list-menu .menu#link-active{
    color: #278E61;
    border-bottom: 2px solid #278E61;
}

.logo{
    width: 10%;
    margin: 10px 0;
    margin-left: 50px;
}
.logo img{
    width: 100%;
}

/* SECTION STYLE: Jobs page style*/

#job-page-section{
    /* max width is set equal to laptop screen size to prevent child elements from spreading on larger size */
    max-width: 1600px;
    padding-top: 2px;
    margin: auto;
    background-color: #efeeee;
    height: 95vh;
}

/* job section left side for job positions */
#job-search-left{
    display: flex;
    width: 75%;
    float: left;
}

/* job left side split into two part, first is job preview with 45% witdh */
#job-search-scrollable{
    padding: 50px;
    padding-bottom: 0px;
    font-family: var(--font-family-secondary);
    width: 45%;
    height: 100%;
}

#job-search-scrollable #job-search{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

/* style for search bar on job preview side */
#job-search-scrollable #search-bar{
    width: 85%;
    /* purpose of transparent border so that on focus animation the element size won't grow */
    border: 2px solid transparent;
    border-radius: 10px 0 0 10px;
    font-family: var(--font-family-primary);
    font-size: 1rem;
    padding: 10px 20px;
    outline:none;
    transition: all 0.2s;
}

/* under focus search bar transparent border turn green */
#job-search-scrollable #search-bar:focus{
    border: 2px solid #278E61;
    border-right: none;
}

/* background image used for search button */
#job-search-scrollable #search-btn{
    background: url("images/search-icon.svg") no-repeat;
    background-color: #278E61;
    background-size: 30px;
    cursor: pointer;
    background-position: center;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 13%;
    height: 100%;
}

#section-title{
    /* #signle shorthand for font */
    font: normal normal 700 1.3em/normal var(--font-family-primary);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#section-title #total-jobs{
    /* #signle shorthand for font */
    font: normal normal 600 0.7em/normal var(--font-family-primary);
    background-color:white;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 25px;
    border: 1px solid black;
}

/* Below are all simple styling for managing size, positio, and color of each job position preview  */
#job-preview-container{
    height: 65vh;
    margin-top: 30px;
    overflow-y: auto;
}

.job-preview{
    border: 2px solid transparent;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.job-preview:hover{
    border: 2px solid #278E61;
}

.job-preview .job-preview-title{
    display: flex;
    margin-bottom: 10px;
}

.job-preview .job-preview-title img{
    width: 60px;
    height: fit-content;
}

.job-preview .job-preview-role{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.job-preview .job-preview-role h2{
    font: normal normal 500 1em/normal var(--font-family-primary);
    margin-bottom: 5px;
}

.job-preview .job-preview-role h3{
    font: normal normal 300 0.8em/normal var(--font-family-secondary);
    color: rgb(74, 74, 74);
}

.job-preview .job-preview-desc{
    font: normal normal 300 0.9em/normal var(--font-family-secondary);
    margin-bottom: 10px;
}

.job-preview .job-preview-skills{
    display: flex;
    margin-bottom: 15px;
}

.job-preview .job-preview-skills .job-skill{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d7f8e6;
    margin-right: 15px;
    font: normal normal 300 0.8em/normal var(--font-family-secondary);
}

.job-preview .job-preview-others{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-preview .job-preview-others .job-preview-location{
    display: flex;
    align-items: center;
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
}

.job-preview .job-preview-others .job-preview-location img{
    width: 30px;
    padding-right: 5px;
}
.job-preview .job-preview-others .job-preview-salary{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
}

.job-preview .job-preview-others .job-preview-type{
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
}
.job-preview .job-preview-others .job-preview-salary span{
    font-weight: 700;
}

#job-page-section .job-reference{
    background-color: lightgrey;
    font-family: var(--font-family-secondary);
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
}

/* Aside right 25% width */
#job-search-right{
    width: 25%;
    /* enforcing float right so it will take space on the right not below the previous elements */
    float: right;
    height: 100%;
    background-color: white;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#job-search-right h1{
    font: normal normal 700 0.9em/normal var(--font-family-primary);
    color: rgb(150, 150, 150);
}

#job-search-right #reset-filter{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    /* button reset need to be on right side of aside */
    float: right;
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
    color: rgb(226, 86, 86);
    margin-bottom: 10px;
    transition: all 0.2s;
}

#job-search-right #reset-filter:hover{
    background-color: rgb(226, 86, 86);
    color: white;
}

#job-search-right .filterby-title{
    /* float right clear so the placement not affected by previous right float */
    clear: right;
    font: normal normal 500 1em/normal var(--font-family-secondary);
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

#job-search-right #filterby-company{
    padding: 5px 40%;
    padding-left: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

#salary-range-container{
    display: flex;
    width: 80%;
    border: 1px solid black;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;

}

#salary-range-container label{
    font: normal normal 500 0.9em/normal var(--font-family-secondary);
    color: black;
    margin-bottom: 10px;
}

#salary-range-container div{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}


#salary-minimum, #salary-maximum{
    width: 80%;
    height: 30px;
    padding-left: 5px;
    border: 1px solid black;
    font-size: 0.9em;
    border-radius: 5px;
}

#job-search-right #filterby-location{
    padding: 5px 40%;
    padding-left: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

#employment-type-container{
    /* single shorthand font */
    font: normal normal 400 0.9em/normal var(--font-family-primary);
}

#employment-type-container div{
    padding-bottom: 15px;
}

#employment-type-container div label{
    padding-left: 10px;
}

#job-search-right #filter-submit{
    padding: 10px 30px;

    border: 2px solid transparent;
    border-radius: 10px;
    font: normal normal 500 0.9em/normal var(--font-family-primary);
    background-color: #278E61;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#job-search-right #filter-submit:hover{
    border-color: #278E61;
    color: #278E61;
    background-color: transparent;
}

#job-search-details{
    width: 55%;
    background-color: white;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 20px;
    height: 82vh;
    overflow: scroll;
}

/* Below are style for job details located in the middle part of the screen */

/* default set to no display */
#job-search-details .job-detail{
    display: none;
    padding: 30px;
}

/* when user clicked on job preview, job detail is shown */
#job-search-details .job-detail:target{
    display: block;
}


#job-search-details .job-detail-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#job-search-details .job-detail-title img{
    width: 80px;
    margin-right: 15px;
}

/* first h2 title on job detail will be larger size */
#job-search-details .job-detail-title h2:first-child{
    font: normal normal 400 1.5em/normal var(--font-family-primary);
}

#job-search-details .job-detail-title h2:last-child{
    font: normal normal 400 1em/normal var(--font-family-secondary);
}

#job-search-details .job-detail-overview{
    margin-bottom: 15px;
}

#job-search-details .job-detail-overview h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-overview p{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
}

#job-search-details .job-detail-responsibility{
    margin-bottom: 15px;
}

#job-search-details .job-detail-responsibility h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-responsibility ol{
    padding-left: 15px;
}

#job-search-details .job-detail-responsibility li{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    padding-bottom: 5px;
}

#job-search-details .job-detail-skills{
    margin-bottom: 15px;
}

#job-search-details .job-detail-skills h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-skills ul{
    padding-left: 15px;
    padding-bottom: 10px;
}

#job-search-details .job-detail-skills li{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    padding-top: 5px;
}

#job-search-details .job-detail-other{
    margin-bottom: 30px;
}

#job-search-details .job-detail-other .others-container{
    display: flex;
    justify-content: space-between;
}

#job-search-details .job-detail-other h3{
    font: normal normal 700 1em/normal var(--font-family-primary);
    margin-bottom: 10px;
}

#job-search-details .job-detail-other h4{
    font: normal normal 700 0.9em/normal var(--font-family-secondary);
    margin-bottom: 5px;
}

#job-search-details .job-detail-other p{
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
}

#job-search-details .job-detail-action{
    display: flex;
    justify-content: space-evenly;
}

/* style for link button on job detail */
#job-search-details .job-detail-action a{
    text-decoration: none;
    color: black;
    padding: 10px 40px;
    border: 2px solid transparent;
    background-color: lightgray;
    border-radius: 5px;
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    transition: all 0.2s ease;
}

#job-search-details .job-detail-action a:hover{
    background-color: transparent;
    color: rgb(77, 77, 77);
    border-color: rgb(104, 104, 104);
}


/* the last child is submit button */
#job-search-details .job-detail-action a:last-child{
    background-color: #278E61;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 5px;
    font: normal normal 400 0.9em/normal var(--font-family-secondary);
    transition: all 0.2s ease;
}

#job-search-details .job-detail-action a:last-child:hover{
    border-color: #278E61;
    color: #278E61;
    background-color: transparent;
}

.footer{
    width: 100vw;
    background-color: #dde8dd;
    text-align: center;
    font-size: small;
    padding: 25px;
    border-top: 1px solid lightgray;
}

.footer img{
    width: 100px;
    margin-bottom: 5px;
}


/*
author: [Pouya Behbahani]
Puprpose: Styling Index pages and CSS typing animation (enhancement)
*/

/* background images */
#index-section-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    font-family: var(--font-family-primary);
    line-height: 1.6;
}

#index-section-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/white_background.jpg');
    background-size: cover;
    z-index: -1; /* Ensures the background stays behind other content */
}

/*  image with text content on the left */
#main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}  

#main-left-content{
    width: 35%;
}

#main-title{
    width: 100%;
    font-size: 1.1em;
    padding-bottom: 20px;
}

#main-image {
    position: relative;
    left: 10%;
    width: 55%;
}

#main-button-container{
    display: flex;
    text-align: center;
}

#main-desc{
    font-family: var(--font-family-secondary);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.582);
    margin-bottom: 45px;
    
}

#job-button{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #278E61;
    background-color: #1C864A;
    color: white;
    padding: 12px 30px;
    font-weight: 400;
    border-radius: 12px;
    transition: all 0.5s;
}

#job-button:hover{
    background-color: transparent;
    color: #278E61;

}

#info-section{
    background-color: #278e61d5;
    padding: 20px 0;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

#info-section h2{
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Custom bubble categories */
.info-bubble{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 25%;
    margin: 15px;
    transition: all 0.5s ease;
}

.info-bubble img{
    width: 60px;
    margin-bottom: 15px;
}
.info-bubble h3{
    margin-bottom: 10px;
}

.info-bubble p{
    font-size: 0.9em;
}
.info-bubble:hover {
    cursor: pointer;
    transform: scale(1.05);
    cursor:default;
}

#info-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* pictures and text as you scroll down */

#features-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}
#features-container h1{
    font-size: 1.7em;
    margin-bottom: 50px;
}

#features-container h1 span{
    color: #278E61;
}

.feature {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    margin-bottom: 8%;
    color: #000502c0;
}

.feature h2{
    margin-bottom: 20px;
}
.feature:nth-child(even) {
    flex-direction: row-reverse;     /* Makes it so image on left, text on right then flipped for next one */
}
.feature img {
    width: 45%;
    border-radius: 10px;
    margin: 0 60px;
    transition: all 0.8s ease;
}

.feature img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5); /* Adds shadow for depth */
}


.feature-text
{
    width: 45%;
    transition: transform 4s ease
}

/* Enhancement typing animation*/
@keyframes typing-and-erasing-and-blank {
    0% { width: 0; }
    80% { width: 100%; } /* Full text is shown */
    96% { width: 100%; opacity: 1; } 
    97% { opacity: 0; } /* Text becomes blank instantly */
    100% { width: 0; opacity: 0; } /* ResetS for the next cycle */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    40% { border-color: black; }
}
.typing-animation {
    content: "";
    position: absolute;
    font-weight: 700;
    color: #1c864a;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid black; /* The cursor */
    animation: typing-and-erasing-and-blank 7s steps(70, end) infinite, blink-caret 0.75s step-end infinite;;
    max-width: fit-content;
}

 /* Author: David Anggawijaya
 purpose: enhancement for HTML utilising google map Iframe 
 */
#ImageMap {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#ImageMap h1{
    font-size: 1.6em;
    margin-bottom: 25px;
}
#ImageMap h1 span{
    color: #278E61;
}

#ImageMap iframe{
    width: 90%;
    height: 80%;
    border-radius: 25px;
}

/* author: Kushal 
purpose: Apply page styling
*/

/* css for section behind form */
#apply-section {
    font-family: var(--font-family-primary);
    background-color :none; 
    padding :20px ; 
    border-radius :10px; 
    width :1100px;
    margin: 5px auto;
    max-width: 1600px;
    
}
/* removing the default strong font of text */
#apply-section h1{
    font-weight: 600;
    font-size: 35px; 
    margin-bottom :10px; 
}
    
/* css for the form */
#apply-section form {
    border-style: solid;
    border-color: #278E61;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1100px;
    margin: 30px auto;
    max-width: 100%;

}

  
/* the css for the input section for all questions */
#apply-section form input[type="text"],
#apply-section form input[type="email"],
#apply-section form input[type="date"],
#apply-section form input[type="file"],
#apply-section form select,
#apply-section form textarea {
    font-family: var(--font-family-primary);
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px;
    border: 1px solid #bebdbd;
    box-sizing: border-box; 
    background-color: #d4f3dc;} 

/* arranging two name boxes in a row */
.name-container {
    display: flex;
    
}
#apply-section .input-group {
    flex-grow:1; 
    margin-right: 10px;
}  

/* removing the border of */
#apply-section fieldset{
    border: 0;
}
/* some gap between different genders */
.gender{
    margin: 5px;  
} 

/* spacing between tickbox and text */
#apply-section .skills input[type="checkbox"] {
    margin-right: 1px; 
}

/* textarea for insterting other skills */
#apply-section .skills textarea {
    width: 100%;
    padding: 1em; 
}

/* removing the default dot on lists */
#apply-section ul{
list-style-type: none;
}

/* styling for submit button */
#apply-section #submitbutton
{
padding: 10px 20px;
background-color: #278E61;
color: white;
border: 2px solid #278E61;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
}

#apply-section #submitbutton:hover {
background-color: transparent;
color: #278E61;
}  

#apply-section #resetbutton
{
padding: 10px 20px;
background-color: rgb(179, 30, 30);
color: white;
border: 2px solid rgb(179, 30, 30);
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
}

#apply-section #resetbutton:hover {
background-color: transparent;
color: rgb(179, 30, 30);
}  

/* Author: David Anggawijaya 
Purpose: Styling About page*/

/* settign up common padding for the whole child elements in this section */
#about-page-container{
    max-width: 1600px;
    margin: auto;
    padding: 50px; 
    width: 100vw;
    font-family: var(--font-family-primary);
}

/* SECTION STYLE: style for group and tutor detail section*/
#group-details-section{
    height: 80vh;
}

#group-details-section h1{
    font-size: 1.7em;
    text-align: center;
}

#group-details-section h1 span{
    color: #278E61;
}

/* styling definition list and group picture to be side by side */
#group-details-section #group-detail{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* definition list style for both group profile and team contacts*/
#group-details-section dl, #team-profile-section dl{
    padding: 30px;
    padding-bottom: 20px;
    margin-right: 30px;
    color: black;
    width: 40%;
    height: fit-content;
    /* definition styling background border */
    background: rgba( 139, 201, 151, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* this style ensure that dt and df is side by side using flex */
#group-details-section dl div, #team-profile-section dl div{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

#group-details-section dt, #team-profile-section dt{
    font-weight: bold;
    width: 30%;
}

#group-detail figure{
    width: 40%;
}

/* Styling figure image border */
#group-detail img{
    width: 100%;
    border: 2px solid black;
    border-radius: 15px;
}


/* setting default attributes for table border and its cells */
#timetable-section table, th, td {
    color: black;
    border: 2px solid white;
    border-collapse: collapse;
}

/* SECTION STYLE: time table will be centered in the section utilising flex*/
#timetable-section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
} 

#timetable-section h1{
    font-size: 1.7em;
    margin-bottom: 25px;
}

#timetable-section h1 span{
    color: #278E61;
}

/* incase for smaller screen the table will be overflow scrollable instead */
#timetable-section #wrapper{
    width: 90%;
    overflow-x: auto;
}

/* background color for cells */
#timetable-section th,td,tr{
    background-color: #8BC997;
}

/* default cell size */
#timetable-section td{
    width: 100px;
    height: 70px;
}

/* styling for each unit on timetable */
#timetable-section .unit{
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 13%;
}

/* SECTION STYLE: style for individual profile */
#team-profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#team-profile-section h1{
    margin-bottom: 50px;
    font-size: 1.7em;
}

#team-profile-section h1 span{
    color: #278E61;
}

/* Extra custom on definition list for contact email */
#team-profile-section dl{
    width: 50%;
}

#team-profile-section dl h3{
    text-align: center;
    margin-bottom: 30px;
}

#team-profile-section dl dt{
    width: 50%;
}
#team-profile-section dl dd{
    width: fit-content;
}

#team-profile-section dl a{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;

}

#team-profile-section{
    height: 100vh;
    margin-bottom: 10%;
}

#team-profile-section #member-profile{
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}
#team-profile-section .card{
    position: relative;
    width: 20vw;
    height: 50vh;
    margin-right: 20px;
    border-radius: 20px;
    transition: all 0.5s;
}

#team-profile-section .card img{
    position: absolute;
    width: 100%;
    border-radius: 20px;
    transition: all 0.5s;
    z-index: 2;
}

#team-profile-section .card .card-content{
    position: absolute;
    color: black;
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin-top: 120px;
}

/* Animation for profile hover, card size increase with image becomigng transparent*/
#team-profile-section .card:hover{
    transform: scale(1.1);
}

#team-profile-section .card img:hover{
    opacity: 0.05;
}

#team-profile-section .card-title{
    font-weight: 600;
    margin: 10px;
}

#team-profile-section .card-desc{
    font-weight: 500;
    font-size: 0.9em;
    margin: 10px;
    margin-top: 20px;
}

/* SECTION STYLE: Enhancements style */
#enhancement-section{
    max-width: 1600px;
    height: 95vh;
    padding: 50px;
    font-family: var(--font-family-primary);
}
#enhancement-section h1 span{
    color: #278E61;
}
#enhancement-section h1{
    margin-bottom: 30px;
}

#enhancement-section div{
    margin-bottom: 25px;
}

#enhancement-section div a{
    display: block;
    width: fit-content;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: large;
    color: #278E61;
    font-weight: 600;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

#enhancement-section div a:hover{
    border-bottom: 2px solid #278E61;
}

#enhancement-section div p{
    width: 60%;
}




